*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.user,.pass{
    width: 25vh;
    margin: 6px;
    height: 3vh;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 5vh
}
.clicca{
    width: 187px;
    height: 35px;
    margin: 16px;
    background-color: #b8df74;
    border-radius: 9px;
}
p{
    color: #808080ad;
    margin-bottom: 10px;
}
.fb,.gl{
    height: 5vh;
    width: 5vh;
    margin-left: 10px;
}
img{
    height: 3vh;
    width: 3vh;
}
#scelta_login{
    margin: 10px;
    display: flex;
}
.privacy{
 font-size: small;
 color: rgb(39, 39, 39);
    
}




/* VALERIO */
body{

    height: 100vh;

}
.main{

    display:flex;


}
.navbar{
    transition: all;
    transition-duration: 1s;

    img{
        
            filter:brightness(100);
        
    }
    position: absolute;
   
    font-family: "Kanit", sans-serif;
    font-size: 20px;
    color:white;
    display: flex;

    justify-content: space-around;
    align-content: center;
    height: 14vh;
    width: 100%;

    


    background-color:#ffdead00;
    
}

.navbar:hover{
    transition-duration: 0.2s;
    background-color:#ffdead;
color:darkolivegreen;
img{
filter:none;
}


.nav-left{
    border-bottom: 1px solid darkolivegreen;
}
.nav-right{
    border-bottom: 1px solid darkolivegreen;
}

}

#img:hover{
    transition-duration: 1s;
    filter:hue-rotate(193deg);
}

.button:hover{
    color:darkred;
    transition-duration: 1s;
      
}

.nav-left{
    border-bottom: 1px solid white;
   
    display: flex;
    justify-content: space-around;

    width: 35%;
    margin-left: 40px;
}
.nav-right{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-around;
    width: 35%;
    margin-right: 40px;


}

#img{
    margin-top: 10px;
    height: 150px;
    width: 220px;

}
.navbar img{

    height: 100%;
    width: 80%;
}